#checkoutFiGateway .bankButton {
	width: 180px;
	height: 120px;
	border: 1pt solid #a0a0a0;
	display: block;
	float: left;
	margin: 7px;
	border-radius: 5px;
	clear: none;
	padding: 0;
}

#checkoutFiGateway .bankButton:hover {
	background-color: #f0f0f0;
	border-color: black;
}

#checkoutFiGateway .bankButton form {
	width: 180px;
	height: 120px;
}

#checkoutFiGateway .bankButton form span {
	display: table-cell;
	vertical-align: middle;
	height: 92px;
	width: 180px;
}

#checkoutFiGateway .bankButton form span input {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1pt solid #f2f2f2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	background-color: white;
}

#checkoutFiGateway .bankButton:hover form span input {
	border: 1pt solid black;
}

#checkoutFiGateway .bankButton div {
	text-align: center;
	font-family: arial;
	font-size: 8pt;
}